<app-header (updateSearch)="updateSearchWithParams($event)"></app-header>

<app-list [vacancies]="vacancies"></app-list>

<footer>
  <div class="flex">
    <div class="details">
      <h4 class="address">About App</h4>
      <p>
        I'm Andrey Karpovich 🇺🇦 and this is my demo Angular 18 app, based on Robota.ua design and API. 
        Some features are simplifed like filters, some action handlers. Amount of vacancies is limited to 20.
      </p>
      <p>karpovich.andrey&#64;gmail.com</p>
    </div>
    <div class="social-media">
      <h4>Links</h4>
      <a target="_blank" href="https://github.com/Ktojan/demo-rbtaua-angular">Github
        (code)</a>
      <a target="_blank" href="https://demo-rbtaua-angular.vercel.app/ ">Live Demo</a>
      <a target="_blank" href="https://www.linkedin.com/in/andrey-karpovich-345701131/">My
        Linkedin</a>
    </div>
  </div>
</footer>
