
@font-face {
    font-family: "Graphik";
    src: local("Graphik"), url(https://images.cf-rabota.com.ua/2017/05/fonts/graphik/Graphik-Regular-Web.woff2) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Graphik";
    src: local("Graphik"), url(https://images.cf-rabota.com.ua/2017/05/fonts/graphik/Graphik-Bold-Web.woff2) format("truetype");
    font-weight: bold;
}

* {
  box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: rgb(242, 245, 248);
    font-family: 'Graphik';
}

.flex {
    display: flex;
}

button {
    cursor: pointer;
}
